{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-text-center">
        <h2 class="uk-light uk-text-center">Complete Muscle Therapy provides an array of options to enhance your massage</h2>
        <p>Experience a customized massage that will leave you feeling revived. Incorporate some of my add-ons to elevate your senses.</p>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-large-top">
        <div class="uk-width-large">
            <ul uk-accordion>
                {{ range .Params.add_ons }}
                <li>
                    <a class="uk-accordion-title uk-white" style="font-size: 1.5rem;" href="#">{{ .name }} &#8212; {{ .price }}</a>
                    <div class="uk-accordion-content">
                        <p>{{ .description }}</p>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}