{{ define "main" }}
    <div class="uk-section">
        <div class="uk-container uk-light">
            <h2>New Pricing Plan</h2>
            <p>Below are the new rates starting November 15, 2022.</p>
            <div class="uk-margin-medium-top uk-grid-large uk-child-width-1-2@s" uk-grid>
                <div class="uk-card">
                    <h3 class="uk-h2">Intro</h3>
                    <ul class="uk-list">
                        <li>50min - $89</li>
                        <li>80min - $119</li>
                        <li>110min - $149</li>
                    </ul>
                </div>
                <div class="uk-card">
                    <h3 class="uk-h2">Regular</h3>
                    <ul class="uk-list">
                        <li>50min - $109</li>
                        <li>80min - $149</li>
                        <li>110min - $184</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{ end }}